/*colorspace::diverging_hcl(n = 20, pal = "Lisbon")[c(4, 16)]*/
/*#4E6378, #4C4C35*/
/*-----Body Links-------*/
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #4E6378;
}
.book .book-body .page-wrapper .page-inner section.normal a:hover {
color: #4C4C35; /* darker color when hovering */
text-decoration: none;
}
h1,
.air-h1,
h2,
.air-h2,
h3,
.air-h3,
h4,
.air-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.0;
}
a {
  color: black;
}
@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 10px;
  }
}
body{
  font-family: 'Ubuntu';
}
.book.font-family-0 {
  font-family: 'Ubuntu';
}
.book.font-family-1 {
  font-family: 'Ubuntu';
}
@media screen and (min-width: 48rem) {
  html {
    font-size: 9px;
  }
}
.book.with-summary .book-header.fixed {
    left: 250px;
}
.book.with-summary .book-body {
    left: 250px;
}
.book .book-summary {
    width: 250px;
}
/* all TOC list items, basically */
.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #4E6378;
}
.summary a:hover {
  color: #4C4C35 !important;
}
.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #4C4C35 !important;
  border-left: solid 4px;
  border-color: #4C4C35;
  padding-left: 11px !important;
}
